* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
#cover {
    background-image: url(../img/cover-blurred.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    
}
#nav-title {
    font-family: 'Pacifico', cursive;
}
#main-title {
    font-family: 'Pacifico', cursive;
    font-size: 350%;
}
.lead{
    font-weight: 400;
}
#sort, #filter {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

#search-bar {
    border-radius: 20px;
    border: 1px solid black;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 9%;
}
.hide {
    display: none;
}

.image-container {
    position: relative;
    display: inline-block;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;   
}

.card-img-top {
    transition: filter 0.3s ease-in-out;
}

.card-img-top:hover {
    filter: brightness(70%);
}

.card-img-top:hover + .center {
    opacity: 1;
}

.card {
    padding: 0;
}

.center:hover {
    opacity: 1;
}

#description {
    height: 8em;
}

#recipes-body {
    background: rgb(164,152,152);
background: linear-gradient(135deg, rgba(164,152,152,1) 0%, rgba(219,239,240,1) 33%, rgba(230,161,44,1) 66%, rgba(254,97,82,1) 100%);
}

#submit-body {
    /* background: rgb(158,31,58);
    background: linear-gradient(305deg, rgba(158,31,58,1) 0%, rgba(208,46,56,1) 33%, rgba(228,121,17,1) 66%, rgba(250,187,68,1) 100%); */
    /* background: rgb(228,74,109);
    background: linear-gradient(270deg, rgba(228,74,109,1) 0%, rgba(250,171,177,1) 33%, rgba(136,215,203,1) 66%, rgba(2,164,177,1) 100%); */
    background: rgb(164,152,152);
background: linear-gradient(135deg, rgba(164,152,152,1) 0%, rgba(219,239,240,1) 33%, rgba(230,161,44,1) 66%, rgba(254,97,82,1) 100%);
}