* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
#cover {
    background-image: url(../img/cover-blurred.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    
}
#nav-title {
    font-family: 'Pacifico', cursive;
}
#main-title {
    font-family: 'Pacifico', cursive;
    font-size: 350%;
}
.lead{
    font-weight: 400;
}
#sort, #filter {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

#search-bar {
    border-radius: 20px;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 9%;
}
.hide {
    display: none;
}

.image-container {
    position: relative;
    display: inline-block;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    
}

.card-img-top  {
    transition: filter 0.3s ease-in-out;
}

.card-img-top:hover {
    filter: brightness(70%);
}

.card-img-top:hover + .center {
    opacity: 1;
}

.center:hover {
    opacity: 1;
}

#description {
    height: 8em;
}